@inherits LayoutComponentBase

<div class="fullscreen">
	<div class="app container">
		<div class="row">
			<div class="left col-12 col-sm-6">
				<div class="panel first">
					first
				</div>
				<div class="panel second">
					second
				</div>
			</div>
			<div class="right col-12 col-sm-6">
				<div class="panel third">
					third
				</div>
			</div>
		</div>
	</div>
</div>
