@page "/"
@inject IJSRuntime JS

<PageTitle>poemdown</PageTitle>

<div class="app container">
	<div class="row">
		<div class="editor col-12 col-sm-6">
			<textarea class="monospace" @oninput="HandleInput" @onkeydown="HandleKeyDown"
				placeholder="just begin."></textarea>
			<div class="overlay monospace"></div>
		</div>
		<div class="preview col-12 col-sm-6">
			<canvas id="preview"></canvas>
		</div>
	</div>
</div>

@code {

	private string previousInput = "";

	private void HandleKeyDown(KeyboardEventArgs args) {
		UpdateOverlay();
	}

	private void HandleInput(ChangeEventArgs args) {
		UpdateOverlay();
	}

	private async void UpdateOverlay() {
		string input = await JS.InvokeAsync<string>("getEditorTextareaValue");

		if ( input == previousInput ) {
			return;
		}

		previousInput = input;

		await JS.InvokeVoidAsync(
			"setEditorOverlayHtml",
			Core.Convert.ToOverlayHtml(input)
		);
	}

}
