@page "/"
@inject IJSRuntime JS

<PageTitle>poemdown</PageTitle>

<div class="app container">
	<div class="row">
		<div class="editor col-12 col-sm-6">
			<textarea @oninput="HandleInput" placeholder="begin"></textarea>
			<div class="overlay"></div>
		</div>
		<div class="preview col-12 col-sm-6">
			<canvas id="preview"></canvas>
		</div>
	</div>
</div>

@code {

	private async void HandleInput(ChangeEventArgs args) {
		string html = (args.Value is string input ? PoemdownConvert.ToHtml(input) : "");
		await JS.InvokeVoidAsync("setEditorOverlayHtml", html);
	}

}
