@page "/"
@inject IJSRuntime JS

<PageTitle>poemdown</PageTitle>

<div class="app container">
	<div class="row">
		<div class="editor col-12 col-sm-6">
			<textarea @oninput="HandleInput"
				placeholder="enter text here"></textarea>
			<div class="overlay"></div>
		</div>
		<div class="preview col-12 col-sm-6">
			<canvas id="preview"></canvas>
		</div>
	</div>
</div>

@code {

	private async void HandleInput(ChangeEventArgs args) {
		string? input = (args.Value as string);
		string html = (input == null ? "" : PoemdownConvert.ToHtml(input));
		Console.WriteLine($"input: {input} / {html}");
		await JS.InvokeVoidAsync("setHtml", ".editor .overlay", html);
	}

}
