@page "/"

<PageTitle>poemdown</PageTitle>

<div class="app container">
	<div class="row">
		<div class="editor col-12 col-sm-6">
			<textarea placeholder="enter text here"></textarea>
		</div>
		<div class="preview col-12 col-sm-6">
			<canvas id="preview"></canvas>
		</div>
	</div>
</div>
