html, body {
	font-family: "Georgia", serif;
	font-size: 16px;
	width: 100%;
	height: 100%;
	background-color: #111;
}

html, body, textarea {
	color: #bbb;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

.monospace {
	font-family: "Menlo", "Monaco", "Lucida Console", monospace;
	font-size: 14px;
}


/* main */

.fullscreen {
	position: absolute;
	width: 100%;
	height: 100%;
}

.app {
	height: 100%;
}

.app .row {
	height: 100%;
}

p.loading {
	position: absolute;
	top: 30%;
	width: 100%;
	font-style: italic;
	text-align: center;
	opacity: 0.618;
}


/* index */

.app {
	padding: 1em;
}

.app .row {
	padding-top: 1em;
	padding-bottom: 1em;
}

.editor,
.preview {
	padding-left: 1em;
	padding-right: 1em;
}

.editor textarea {
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	resize: none;
	color: transparent; /*#fff4;*/
	caret-color: #fff8;
	background-color: transparent;
	outline: 0 !important;
}

textarea::placeholder {
	color: #fff6;
	font-style: italic;
}

::selection {
	background: #fff4;
	color: transparent;
}

::-moz-selection {
	background: #fff4;
	color: transparent;
}

::-webkit-selection {
	background: #fff4;
	color: transparent;
}

.editor textarea:focus {
	outline: 0 !important;
}

.editor .overlay {
	position: relative;
	color: #fffa;
	width: 100%;
	height: 100%;
	top: -100%;
	margin-top: -2px;
	padding: 0;
	pointer-events: none;
	/* TODO: the word-wrap behavior differs from the textarea */
}

.editor .overlay b {
	color: #fffc;
}

.editor .overlay em {
	color: #fffc;
}

.editor .overlay hr {
	position: relative;
	color: #fff2;
	height: 2px;
	top: -0.8em;
	margin: 0 0 -2px 0;
}

.editor .overlay c {
	opacity: 0.382;
}

.editor .overlay mono {
	color: #fc6c;
	background-color: #fc62;
}

.editor .overlay head1 {
	color: #8f3c;
}

.editor .overlay head2 {
	color: #3bfc;
}

.editor .overlay head3 {
	color: #cafc;
}

.editor .overlay line {
	/*color: #fff;*/
}

.preview {
	border-left: 2px dotted #333;
}

.preview canvas {
	width: 100%;
	height: 100%;
}
