html, body {
	font-family: Lato, Helvetica, Arial, sans-serif;
	font-size: 14px;
	width: 100%;
	height: 100%;
	background-color: #111;
}

html, body, textarea {
	color: #bbb;
}


/* main */

.fullscreen {
	position: absolute;
	width: 100%;
	height: 100%;
}

.app {
	height: 100%;
}

.app .row {
	height: 100%;
}


/* index */

.app {
	padding: 1em;
}

.app .row {
	padding-top: 1em;
	padding-bottom: 1em;
}

.editor {
	font-family: Monaco, Lucida Console, monospace;
}

.editor,
.preview {
	padding-left: 1em;
	padding-right: 1em;
}

.editor textarea {
	position: absolute; /* don't consume vertical space */
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	resize: none;
	color: #fff3;
	background-color: transparent;
}

.editor textarea:focus {
	outline: 0 !important;
}

.editor .overlay {
	width: 100%;
	height: 100%;
	padding: 0;
	pointer-events: none;
}

.preview {
	border-left: 2px dotted #333;
}

.preview canvas {
	width: 100%;
	height: 100%;
}
